@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}


:root {
  --primary: #111827;       
  --secondary: #1f2937;     
  --accent: #8b5cf6;        
  --accent-light: #a78bfa; 
  --accent-g: #b0abbe;  
  --background: #f9fafb;   
  --text-dark: #111827;
  --violet-light: #cdc6e3;
  --violet: #6f4dd6;
}

.dark {
  --primary: #f0f0f0;
  --background: #020617;
  --accent: #6f4dd6;
  --accent-light: #c4b5fd;
  --violet-light: #1e1b4b;
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}
